<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <title>Aspree</title>
  <link rel="stylesheet" href="assets/za.css" type="text/css"/>
  <script src="assets/vue.min.js" type="text/javascript"></script>
  <script src="assets/mock-min.js" type="text/javascript"></script>
</head>
<body style="margin: 0;">
<div class="za-cter">
  <!-- 导航区 -->
  <div class="za-nav">
    <div class="za-nav-av">
      <div class="cc_out">
        <div class="cc_mid">
          <img src="assets/img/iAuthor.png" class="img-circle" width="40%">
        </div>
      </div>
    </div>
    <div class="za-nav-menu">
      <div class="za-menu-u" id="vdmenu_1">
        <div class="za-menu-ui"
             @mouseover="showlv2menu"
             @mouseout="closelv2menu">
          <img src="assets/img/iMenu_1.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Mail</p>
        </div>
        <div class="za-menu-lv2">
          <div class="za-menu-lv2-1">
            <div class="cc_out">
              <div class="cc_mid">
                <img src="assets/img/iMenu2_0.png"  width="20%">
                <p class="za-menu-lv2-p">Recv</p>
              </div>
            </div>
          </div>
          <div class="za-menu-lv2-1">
            <div class="cc_out">
              <div class="cc_mid">
                <img src="assets/img/iMenu2_1.png"  width="20%">
                <p class="za-menu-lv2-p">Archive</p>
              </div>
            </div>
          </div>
          <div class="za-menu-lv2-1">
            <div class="cc_out">
              <div class="cc_mid">
                <img src="assets/img/iMenu2_2.png"  width="25%">
                <p class="za-menu-lv2-p">Search</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="za-menu-u">
        <div class="za-menu-ui">
          <img src="assets/img/iMenu_2.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Calendar</p>
        </div>
      </div>
      <div class="za-menu-u">
        <div class="za-menu-ui">
          <img src="assets/img/iMenu_3.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Contacts</p>
        </div>
      </div>
      <div class="za-menu-u">
        <div class="za-menu-ui">
          <img src="assets/img/iMenu_4.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Task</p>
        </div>
      </div>
      <div class="za-menu-u">
        <div class="za-menu-ui">
          <img src="assets/img/iMenu_5.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Notes</p>
        </div>
      </div>
      <div class="za-menu-u ">
        <div class="za-menu-ui">
          <img src="assets/img/iMenu_6.png"  width="27%" class="za-menu-img">
          <p class="za-menu-p">Others</p>
        </div>
      </div>

    </div>
  </div>
  <div id="z_info" class="za-info">
    <!-- 头部 -->
    <div class="za-info-head ">
      <div class="za-info-head-alarm">
        <div class="cc_out">
          <div class="cc_mid">
            <img src="assets/img/iBell.png" width="25%">
          </div>
        </div>
      </div>
      <div class="za-info-head-title">
        <div class="cc_out">
          <div class="cc_mid za-title">
            Aspree
          </div>
        </div>
      </div>
      <div class="za-info-head-cfg">
        <div class="cc_out">
          <div class="cc_mid">
            <img src="assets/img/iCfg.png" width="30%">
          </div>
        </div>
      </div>
      <div class="za-info-head-exit">
        <div class="cc_out">
          <div class="cc_mid">
            <img src="assets/img/iExit.png" width="30%">
          </div>
        </div>
      </div>
    </div>
    <!-- 中间气氛图 -->
    <div class="za-info-imgshow">
      <div class="za-imgshow-lbs">
          <div class="za-imgshow-lbs-title">
            <div class="za-lbs-icon">
              <img src="assets/img/iPin.png" width="50%" style="max-width: 30px;">
            </div>
            <div class="za-lbs-title">
              Paris,France
            </div>
          </div>
      </div>
      <div class="za-imgshow-sun">
        <div class="za-imgshow-sun1" id="sun1"></div>
        <div class="za-imgshow-sun2" id="sun2"></div>
        <div class="za-sun-text" id="suntext">
          <div class="za-sun-textinner">
            <div class="za-sun-text-icon">
              <img src="assets/img/iClock.png" width="23%">
            </div>
            <div class="za-sun-text-text">
              8:23 AM
            </div>
          </div>
          <div class="za-sun-textinner">
            <div class="za-sun-text-icon">
              <img src="assets/img/iClock.png" width="23%">
            </div>
            <div class="za-sun-text-text">
              5:43 PM
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- 主要信息区 -->
    <div class="za-info-main">
      <!-- 主区域-左 -->
      <div class="za-imain-left ">
        <!-- 主区域-左上 -->
        <div class="za-imain-left-up ">
          <div class="za-imain-cter" id="vd_mail">
            <div class="za-imain-mail-head " style="margin-bottom:1px;">
              <div class="za-imail-head-side"></div>
              <div class="za-imail-head-title">
                <div class="cc_out">
                  <div class="cc_mid">
                    Mail
                  </div>
                </div>
              </div>
              <div class="za-imail-head-side  za-imail-head-side-right "></div>
            </div>
            <!-- 可模板 MailUnit-->
            <div class="za-imain-mail-list" v-for="rowdata in xdata">
              <div class="za-maillist-left">
                <div class="cc_out">
                  <div class="cc_mid">
                    <img :src="rowdata.like"  width="70%">
                  </div>
                </div>
              </div>
              <div class="za-maillist-right">
                <div class="za-maillist-up">
                  <div class="za-mlist-up-av">
                    <img :src="rowdata.avt"  class="img-circorner" width="90%">
                  </div>
                  <div class="za-mlist-up-spk">
                    <div class="za-mlist-spk-up">
                      {{rowdata.name }}
                    </div>
                    <div class="za-mlist-spk-bottom">
                      {{rowdata.tips }}
                    </div>
                  </div>
                  <div class="za-mlist-up-time">
                    {{rowdata.time }}
                  </div>
                </div>
                <div class="za-maillist-bottom">
                  {{rowdata.content }}
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- 主区域-左下 -->
        <div class="za-imain-left-bottom" style="padding-top: 0;">
          <div class="za-imain-cter" id="vd_notes">
            <div class="za-block-head">
              <div class="za-block-head-side">
                <div class="cc_out">
                  <div class="cc_mid">
                    <img src="assets/img/iBookmark.png" width="33%">
                  </div>
                </div>
              </div>
              <div class="za-block-head-title" style="    color: #e650da;">
                <div class="cc_out">
                  <div class="cc_mid" >
                    Notes
                  </div>
                </div>
              </div>
              <div class="za-block-head-side">
                <div class="cc_out">
                  <div class="cc_mid">
                    <img src="assets/img/iPlus.png" width="30%">
                  </div>
                </div>
              </div>
            </div>
            <my-notes :message="xdata"></my-notes>
          </div>
        </div>
      </div>

      <!-- 主区域-右上-->
      <div class="za-imain-right">
        <!-- 右上 -->
        <div class="za-imain-right-up" id="vd_calendar">
            <div class="za-imain-cter" style="padding: 10px;">
              <!-- 日历头 -->
              <div class="za-block-head " style="padding: 0;">
                <div class="za-cd-head-left" style="">
                  <div class="za-cd-head-left-arrow">
                    <div class="cc_out">
                      <div class="cc_mid" >
                        <img src="assets/img/iLeft_black.png" width="30%">
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="cc_out">
                      <div class="cc_mid za-cd-head-left-text" >
                        January 2014
                      </div>
                    </div>
                  </div>
                  <div class="za-cd-head-left-arrow" style="text-align: right">
                    <div class="cc_out">
                      <div class="cc_mid" >
                        <img src="assets/img/iRight_black.png" width="30%">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="za-block-head-title" style="    color: #F1C561;">
                  <div class="cc_out">
                    <div class="cc_mid" >
                      Calendar
                    </div>
                  </div>
                </div>
                <div class="za-cd-head-left">
                  <div class="cc_out">
                    <div class="cc_mid"  style="text-align: right;padding-right:10px;">
                      <img src="assets/img/iPlus_yellow.png" width="12%">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 日历身体 -->
              <div class="za-cd-body">
                <!-- 事项 -->

                <my-events :message="evdata"></my-events>
                <div class="za-cd-body-space"></div>
                <div class="za-cd-body-cd">
                  <my-cdhead :message="cdhead"></my-cdhead>
                  <my-cddate :message="cdwd"></my-cddate>

                </div>
              </div>
            </div>
        </div>
        <!-- 右下 -->
        <div class="za-imain-right-bottom">
          <!-- 右下左-->
          <div class="za-irightb-block" style="padding-right: 5px;padding-bottom: 10px;">
            <div class="za-imain-cter" id="vd_contacts">
              <div class="za-block-head">
                <div class="za-block-head-side">
                  <div class="cc_out">
                    <div class="cc_mid">
                      <img src="assets/img/iFind.png" width="33%">
                    </div>
                  </div>
                </div>
                <div class="za-block-head-title" style="    color: #A4C74E;">
                  <div class="cc_out">
                    <div class="cc_mid" >
                      Contacts
                    </div>
                  </div>
                </div>
                <div class="za-block-head-side">
                  <div class="cc_out">
                    <div class="cc_mid">
                      <img src="assets/img/iPlus_green.png" width="30%">
                    </div>
                  </div>
                </div>
              </div>
              <my-contacts :message="xdata"></my-contacts>
            </div>
          </div>
          <!-- 右下右-->
          <div class="za-irightb-block " style="padding-left: 5px;padding-right: 10px;padding-bottom: 10px;">
            <div class="za-imain-cter za-wther" id="wther_bg"></div>
            <div class="za-wther-filter" id="wther_filter"></div>
            <div class="za-wther-main" id="wther_main">
              <!-- 天气标题-->
                <div class="za-block-head">
                    <div class="za-block-head-side" style="flex: 0 0 20%;">
                      <div class="cc_out">
                        <div class="cc_mid">
                          <img src="assets/img/iLeft.png" width="20%">
                          <img src="assets/img/iRight.png" width="20%">
                        </div>
                      </div>
                    </div>
                    <div class="za-block-head-title" style="color: white;">
                      <div class="cc_out">
                        <div class="cc_mid" style="font-family: CACula" >
                          Weather
                        </div>
                      </div>
                    </div>
                    <div class="za-block-head-side">
                      <div class="cc_out">
                        <div class="cc_mid">
                          <img src="assets/img/iPlus_white.png" width="30%">
                        </div>
                      </div>
                    </div>
                </div>
              <!-- 天气明细 -->
                <div class="za-wther-main-info ">
                  <div class="za-wminfo-left">
                    <p class="za-wminfo-left-p1">Paris,France</p>
                    <p class="za-wminfo-left-p2">Tuesday,7:00 PM</p>
                    <p class="za-wminfo-left-p2">Clear</p>
                  </div>
                  <div class="za-wminfo-right">
                    <div>
                      <img src="assets/img/iSun.png"  width="40%">
                    </div>
                    <div class="za-wminfo-right-p1 ">
                      43°
                      <p class="za-wminfo-right-tips">
                        <span style="color: rgb(191,211,213)">F°</span>|C°</p>
                    </div>
                  </div>

                </div>
            </div>
            <!-- 天气图表模仿 -->
            <div class="za-wther-chart" id="wther_chart">
              <img src="assets/img/iWeather_chart.png" width="100%"/>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>




</body>
<script type="text/x-template" id="tpl_maillist">


</script>
<!--notes-->
<script type="text/x-template" id="tpl_noteslist">
  <div class="za-block-body">
    <div class="za-block-infobar" v-for="rowdata in message">
      <div class="cc_out">
        <div class="cc_mid za-notes-text" style="text-align: left">
          {{rowdata.notes}}
          <div :class="[rowdata.mainClass, rowdata.colorClass]">
            {{rowdata.labeltext}}
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<!--contacts -->
<script type="text/x-template" id="tpl_contactslist">
  <div class="za-block-body">
    <div class="za-block-infobar" v-for="rowdata in message">
      <div class="za-cocts-avb">
        <div class="cc_out">
          <div class="cc_mid">
            <img :src="rowdata.ava" class="img-circorner" width="85%">
          </div>
        </div>
      </div>
      <div class="za-cocts-info ">
          <p class="za-cocts-name">{{rowdata.name}}</p>
          <p class="za-cocts-email">{{rowdata.email}}</p>
      </div>
    </div>
  </div>
</script>

<!-- event data-->
<script type="text/x-template"  id="tpl_eventslist">
  <div class="za-cd-body-left" >
      <div class="za-cd-eventarea" v-for="rowdata in message">
        <div class="za-cd-event-i">
          <img :src="rowdata.evimg"  width="20px">
        </div>
        <div class="za-cd-event-f">
          <div class="cc_out">
            <div class="cc_mid" style="text-align: left">
              <p class="za-cd-event-x1">{{rowdata.evname}}</p>
              <p class="za-cd-event-x2">{{rowdata.evdate}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</script>

<!-- cd head-->
<script type="text/x-template" id="tpl_cdhead">
  <div class="za-cd-cd-head">
    <div class="za-cd-weekday" v-for="weekday in message">
      <div class="cc_out">
        <div class="cc_mid" >
          {{weekday}}
        </div>
      </div>
    </div>
  </div>
</script>

<!-- cd body-->
<script type="text/x-template" id="tpl_cddate">
  <div class="za-cd-cd-body">
    <div class="za-cd-date" v-for="rowdata in message">
      <div class="cc_out">
        <div class="cc_mid" >
          <span v-if="rowdata.monthlab!='now'" style="color: darkgrey;">{{rowdata.evdate}}</span>
          <span v-else>{{rowdata.evdate}}</span>
          <span v-if="rowdata.evid" class="za-cd-date-event">
            <img v-if="rowdata.evid==0" src="assets/img/iCircle_blue.png" width="12px"/>
            <img v-if="rowdata.evid==1" src="assets/img/iCircle_gold.png" width="12px"/>
            <img v-if="rowdata.evid==2" src="assets/img/iCircle_green.png" width="12px"/>
            <img v-if="rowdata.evid==3" src="assets/img/iCircle_rose.png" width="12px"/>

          </span>
        </div>
      </div>
    </div>
  </div>
</script>



<script src="assets/za.js" type="text/javascript"></script>
</html>