@font-face {font-family:CodeLight; src: url("fonts/CODELight.otf")}
@font-face {font-family:Infinity; src: url("fonts/Infinity.ttf")}
@font-face {font-family:Duepunt; src: url("fonts/duepuntozero_extralight.otf")}
@font-face {font-family:RBNo2; src: url("fonts/RBNo2Light.otf")}
@font-face {font-family:Avenirnext; src: url("fonts/avenirnextregular.otf")}
@font-face {font-family:Adele; src: url("fonts/adele-light.ttf")}
@font-face {font-family:CACula; src: url("fonts/CA%20Cula%20Light.otf")}

/* flex frame*/
.za-cter{
    display:flex
}
.za-nav{
    flex:0 0 8%;
    background-color: rgb(28,28,28);
    display: flex;
    flex-direction: column;
}

.za-nav-av{
    flex: 0 0 15%;
}

.za-nav-menu{
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.za-menu-u{
    flex: 1;
    max-height: 70px;
    color: white;
    display: flex;
}
.za-menu-ui{
    flex: 1;
    text-align: center;
}
.za-menu-lv2{
    z-index: 10;
    position: absolute;
    width: 240px;
    height: 60px;
    background-color: rgb(90,171,232);
    opacity:0.94;filter:alpha(opacity=94);
    display: none;

}
.za-menu-lv2-try{
    flex: 0 0 5%;
}
.za-menu-lv2-1{
    flex: 1;
}
.za-menu-lv2-p{
    margin: 0;
    margin-top: 6px;
    font-size: 11px;
    font-family:  Helvetica;
}

.za-menu-img{
    opacity:0.57;filter:alpha(opacity=57);
}
.za-menu-p{
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family:  Helvetica;
    color: rgb(98,103,109);
    letter-spacing:1px;

}

.za-info{
    flex:1;
    display: flex;
    flex-direction:column;
}
.za-info-head{
    flex: 0 0 7%;
    display: flex;
}
.za-info-head-alarm{
    flex: 0 0 6%;
}
.za-info-head-title{
    flex: 1;
    text-align: center;
}
.za-title{
    font-size: 22px;
    font-family: Infinity;
}
.za-info-head-cfg{
    flex: 0 0 5%;
}
.za-info-head-exit{
    flex: 0 0 5%;
}
.za-info-imgshow{
    flex: 0 0 17%;
    display: flex;
    background:url('img/iBG.png') no-repeat;
    background-size:100%;
    justify-content:space-between;
}
.za-imgshow-lbs{
    flex: 0 0 10%;
}
.za-imgshow-lbs-title {
    margin-top: 10px;
    display: flex;
}
.za-lbs-icon{
    flex: 0 0 20%;
    text-align: center;
}
.za-lbs-title{
    flex: 0 0 80%;
    font-family: Infinity;
    color: white;
    margin-left: 5px;
    padding-top: 2px;
    letter-spacing:2px;
}
.za-imgshow-sun{
    flex: 0 0 20%;
    display: flex;
}
.za-imgshow-sun1{
    flex: 1;
    background-color: coral;
    opacity:0.57;filter:alpha(opacity=57);
}
.za-imgshow-sun2{
    flex:1;
    background-color: rgb(171,52,203);
    opacity:0.57;filter:alpha(opacity=57);
}
.za-sun-text{
    z-index: 3;
    position: absolute;
    display: flex;
}
.za-sun-textinner{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.za-sun-text-icon{
    flex: 0 0 25%;
    text-align: center;
}
.za-sun-text-text{
    flex: 0 0 20%;
    text-align: center;
    color: white;
    font-family: Infinity;
}

.za-info-main{
    flex: 1;
    display: flex;
    background-color: rgb(233,238,241);
}

.za-imain-left{
  flex:0 0 33%;
    display: flex;
    flex-direction: column;
}
.za-imain-left-up{
    flex:0 0 60%;
    padding: 10px;
    display: flex;

}
.za-imain-cter{
    flex: 1;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.za-imain-mail-head{
    flex:0 0 15%;
    display: flex;
    justify-content:space-between;
}
.za-imail-head-side{
    flex: 0 0 12%;
}
.za-imail-head-side-right{
    background:url('img/iMailCorner.png') no-repeat;
    background-size:100%;
}
.za-imail-head-title{
    color: red;
    font-family: CACula;
    font-size: 20px;
}

.za-imain-mail-list{
    flex:1;
    display: flex;
    border-bottom: 1px gainsboro solid;
}
.za-maillist-left{
    flex:0 0 9%;
    margin-right: 7px;
}
.za-maillist-right{
    flex:1;
    display: flex;
    flex-direction: column;
}
.za-maillist-up{
    /*flex: 1;*/
    display: flex;
    height: 40px;
    padding-top: 5px;
}
.za-mlist-up-av{
    /*flex: 0 0 20%;*/
    width: 40px;
    margin-right: 5px;
}
.za-mlist-up-spk{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}
.za-mlist-spk-up{
    flex: 1;
    font-family: Arial;
    font-size: 13px;
    color: lightgrey;
}
.za-mlist-spk-bottom{
    flex: 1;
    font-family: Arial;
    font-size: 13px;
}

.za-mlist-up-time{
    flex: 0 0 22%;
    font-family: Arial;
    font-size: 10px;
    text-align: right;
    color: lightgrey;

}
.za-maillist-bottom{
    margin-top: 5px;
    flex: 1;
    font-size: 12px;
    text-align: left;
    color: dimgrey;
    line-height: 17px;
}
.za-block-head{
    height: 23px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.za-block-body{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.za-block-head-side{
    flex: 0 0 12%;
}
.za-block-head-title{
    flex:1;
    font-family: CACula;
    font-size: 20px;
    /*letter-spacing: 0.5px;*/
}
.za-block-infobar{
    flex:1;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px gainsboro solid;
    display: flex;
}
.za-notes-text{
    text-align: left;
    font-family: Arial;
    line-height: 20px;
    font-size: 13px;
    color: dimgrey;
}
.za-notes-label{
    float:right;
    /*width: 55px;*/
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    text-align: center;
    color: white;
    line-height: 20px;
    font-size: 9px;
    font-family: Consolas;
}

.za-imain-left-bottom{
    flex:1;
    padding: 10px;
    display: flex;
}
.za-imain-right{
    flex:1;
    display: flex;
    flex-direction: column;
}
.za-imain-right-up{
    flex: 0 0 58%;
    display: flex;
    padding: 10px;
    padding-left: 0;
}
.za-imain-right-bottom{
    flex: 1;
    display: flex;
}
.za-irightb-block{
    flex: 1;
    display: flex;
}
.za-cocts-avb{
    width: 40px;
    padding: 3px;
}
.za-cocts-info{
    flex: 1;
    padding-top: 3px;
}
.za-cocts-name{
    margin: 0;
    font-size: 14px;
    font-family: Calibri;
}
.za-cocts-email{
    margin: 0;
    margin-top: 2px;
    font-size: 12px;
    font-family: Calibri;
    color: rgb(205,205,205);
}
.za-wther{
    background:url('img/iWeather_bg.png') no-repeat;
    background-size:100%;
}
.za-wther-filter{
    z-index: 6;
    position: absolute;
    background: -webkit-gradient(linear,0 0,0 100%,from(#00BFFF),to(#8EF6EB));
    opacity:0.85;filter:alpha(opacity=85);
}

.za-wther-main{
    z-index: 7;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.za-wther-chart{
    z-index: 8;
    position: absolute;
    bottom: 10px;
}

.za-wther-main-info{
    flex: 0 0 40%;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 8px;
}
.za-wminfo-left{
    flex:1;
}
.za-wminfo-left-p1{
    margin: 0;
    color: white;
    font-size: 17px;
    font-family: Optima;
    letter-spacing: 1px;
}
.za-wminfo-left-p2{
    margin: 0;
    margin-top: 2px;
    color: white;
    font-size: 8px;
    font-family: Optima;
    /*letter-spacing: 1px;*/

}
.za-wminfo-right{
    flex:1;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.za-wminfo-right-p1{
    color: white;
    font-family: Optima;
    font-size: 30px;
    padding-top: 1px;
    margin-left: 2px;
}
.za-wminfo-right-tips{
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    font-size:12px;
}
.za-cd-head-left{
    flex: 0 0 20%;display:flex;justify-content: space-between
}
.za-cd-head-left-arrow{
    flex:0 0 20%;
}
.za-cd-head-left-text{
    padding-top: 1px;
    font-size: 11px;
    font-family: Arial;
}

.za-cd-body{
    flex: 1;
    display: flex;
}
.za-cd-body-left{
    flex: 0 0 23%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.za-cd-eventarea{
    flex:0 0 20%;
    display: flex;
}
.za-cd-event-i{
    flex: 0 0 15%;
    padding-top: 1px;
}
.za-cd-event-f{
    flex: 1;
    padding: 2px;
}
.za-cd-event-x1{
    margin: 0;
    color: dimgrey;
    font-size: 14px;
    font-family: Calibri;

}
.za-cd-event-x2{
    margin: 0;
    margin-top:2px;
    color: darkgrey;
    font-size: 12px;
    font-family: Calibri;

}
.za-cd-body-space{
    flex: 0 0 1%;
}
.za-cd-body-cd{
    flex: 1;
}
.za-cd-cd-head{
    width: 100%;
    height: 15%;
    display: flex;
}
.za-cd-cd-body{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    border-left:1px lightgrey solid;
    border-bottom:1px lightgrey solid;
    border-right:1px lightgrey solid;

}
.za-cd-weekday{
    flex: 1;
    font-family: Calibri;
    color:darkgrey;
    font-size: 13px;
}
.za-cd-date{
    width: 14.28%;
    border-top:1px lightgrey solid;
    font-family: Calibri;
    font-size: 13px;
    color: grey;
    display: flex;
    flex-direction: column;
}
.za-cd-block{
    flex: 0 0 33%;
    text-align: center;
}
.za-cd-date-event{
    margin: 0;
    padding-top: 4px;
}

/*general style*/
.bd{
    border: 1px orangered solid;
}
.fthin{
    font-family: Infinity;
}
.flight{
    font-family: Consolas;
}
.fmonaca{
    font-family: 'Monaco', courier, monospace;
}

.cc_out{
    width: 100%;
    height: 100%;
    /*border: solid 1px green;*/
    /*position: absolute;*/
    display: table;
}
.cc_mid{
    /*border: solid 1px blue;*/
    text-align:center;
    position:relative;
    display:table-cell;
    vertical-align:middle;
}

.img-circle{
    border-radius:50%;
}
.img-circorner{
    border-radius: 3px;
}
.cr_green{
    background-color: #20D5C3;
}
.cr_rose{
    background-color: #CD61FB;
}
.cr_gold{
    background-color: #E8A100;
}
.cr_blue{
    background-color: #0DAADA;
}