@font-face {font-family:CodeLight; src: url("fonts/CODELight.otf")}
@font-face {font-family:Infinity; src: url("fonts/Infinity.ttf")}
@font-face {font-family:Duepunt; src: url("fonts/duepuntozero_extralight.otf")}
@font-face {font-family:RBNo2; src: url("fonts/RBNo2Light.otf")}
@font-face {font-family:Avenirnext; src: url("fonts/avenirnextregular.otf")}

/* flex frame*/
.za-cter{
    display:flex
}
.za-nav{
    flex:0 0 8%;
    background-color: rgb(28,28,28);
    display: flex;
    flex-direction: column;
}

.za-nav-av{
    flex: 0 0 15%;
}

.za-nav-menu{
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.za-menu-u{
    flex: 1;
    max-height: 70px;
    color: white;
    display: flex;
}
.za-menu-ui{
    flex: 1;
    text-align: center;
}
.za-menu-lv2{
    z-index: 10;
    position: absolute;
    width: 240px;
    height: 60px;
    background-color: rgb(90,171,232);
    opacity:0.94;filter:alpha(opacity=94);
    display: none;

}
.za-menu-lv2-try{
    flex: 0 0 5%;
}
.za-menu-lv2-1{
    flex: 1;
}
.za-menu-lv2-p{
    margin: 0;
    margin-top: 6px;
    font-size: 11px;
    font-family:  Helvetica;
}

.za-menu-img{
    opacity:0.57;filter:alpha(opacity=57);
}
.za-menu-p{
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 11px;
    font-family:  Helvetica;
    color: rgb(98,103,109);
    letter-spacing:1px;

}

.za-info{
    flex:1;
    display: flex;
    flex-direction:column;
}
.za-info-head{
    flex: 0 0 7%;
    display: flex;
}
.za-info-head-alarm{
    flex: 0 0 6%;
}
.za-info-head-title{
    flex: 1;
    text-align: center;
}
.za-title{
    font-size: 22px;
    font-family: Infinity;
}
.za-info-head-cfg{
    flex: 0 0 5%;
}
.za-info-head-exit{
    flex: 0 0 5%;
}
.za-info-imgshow{
    flex: 0 0 20%;
    display: flex;
    background:url('img/iBG.png') no-repeat;
    background-size:100%;
    justify-content:space-between;
}
.za-imgshow-lbs{
    flex: 0 0 10%;
}
.za-imgshow-lbs-title {
    margin-top: 10px;
    display: flex;
}
.za-lbs-icon{
    flex: 0 0 20%;
    text-align: center;
}
.za-lbs-title{
    flex: 0 0 80%;
    font-family: Infinity;
    color: white;
    margin-left: 5px;
    padding-top: 2px;
    letter-spacing:2px;
}
.za-imgshow-sun{
    flex: 0 0 20%;
    display: flex;
}
.za-imgshow-sun1{
    flex: 1;
    background-color: coral;
    opacity:0.57;filter:alpha(opacity=57);
}
.za-imgshow-sun2{
    flex:1;
    background-color: rgb(171,52,203);
    opacity:0.57;filter:alpha(opacity=57);
}
.za-sun-text{
    z-index: 3;
    position: absolute;
    display: flex;
}
.za-sun-textinner{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.za-sun-text-icon{
    flex: 0 0 25%;
    text-align: center;
}
.za-sun-text-text{
    flex: 0 0 20%;
    text-align: center;
    color: white;
    font-family: Infinity;
}

.za-info-main{
    flex: 1;
    display: flex;
    background-color: rgb(233,238,241);
}

.za-imain-left{
  flex:0 0 30%;
    display: flex;
    flex-direction: column;
}
.za-imain-left-up{
    flex:0 0 58%;
    padding: 10px;
    display: flex;
}
.za-imain-left-up-main{
    flex: 1;
    background-color: white;
}
.za-imain-left-bottom{
    flex:1;
    padding: 10px;
}
.za-imain-right{
  flex:0 0 70%;
}

/*general style*/
.bd{
    border: 1px orangered solid;
}

.cc_out{
    width: 100%;
    height: 100%;
    /*border: solid 1px green;*/
    /*position: absolute;*/
    display: table;
}
.cc_mid{
    /*border: solid 1px blue;*/
    text-align:center;
    position:relative;
    display:table-cell;
    vertical-align:middle;
}

.img-circle{
    border-radius:50%;
}